
Assets/Mario_Theme/Soundtrack/Coin.wav
Assets/Mario_Theme/Soundtrack/M_BGM.wav
Assets/Mario_Theme/Soundtrack/M_Jump.wav
Assets/Soundtrack/jump.wav
Assets/Soundtrack/Main_BGM.wav
Assets/Soundtrack/speedup.wav
